# System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Dependency directories
node_modules/
venv/

# Environment files
.env
.env.local

# Build files
dist/
build/
*.pyc 